
section {width:23%; padding: 1%;}
section {width: 73%;padding: 1%;}
section {width: 50%; margin-right:auto;list-style-type: none;}
section {align-self: left;}
p {text-align: center;}
li {text-align: center;}
section {background-color: #FCFCFC;}
ul {inset-block: 50%; vertical-align: top;}
img {align-items: center;}
div {align-content: left;}
ul li {list-style: none;}
ul li {text-align: center;}
button {align-content: center;}
div {margin-right: auto ;}
button {align-items: center;}
